body {
	background-color: burlywood 
}

.cabecalho {
	width: 80%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #87adde;
	text-align: center;
	border: 1px solid black;
}	

.CORPO {
	width: 79%;
	height: 79%;
	margin-left: auto;
	margin-right: auto;
	background: #aede87;
	border: 1px solid black;
	padding: 7px;
}

p {
	font-family: Calibre;
	font-size: 20px;
}

.guru {
	width: 200px;
	height: 30px;
}

